@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@500&family=Yeseva+One&display=swap");
:root {
  --font-tiny: 12px;
  --font-sm: 14px;
  --font-md: 1rem;
  --font-mmd: 18px;
  --font-lg: 24px;
  --font-xl: 32px;
  --xxl: 44px;
  --bg-black: #010d00;
  --ad-bg: url(image­s banner 2ads.png);
  --blue-text: rgba(14, 19, 43, 1);
  --list-font-clr: rgba(1, 13, 0, 1);
  --font-lightgrey: rgba(24, 0, 31, 0.54);
  --red-font: rgba(242, 29, 68, 1);
  --white-font: rgba(255, 255, 255, 1);
  --grey-font: rgba(52, 55, 70, 1);
  --grey-light: rgba(52, 55, 70, 0.3);
}

h4, h3, h2 {
  text-transform: capitalize;
}

.font-tiny {
  font-size: var(--font-tiny);
  line-height: 2.12em;
}

.font-sm {
  font-size: var(--font-sm);
  line-height: 1.125em;
}

.font-md {
  font-size: var(--font-md);
  line-height: 1.125em;
}

.font-mmd {
  font-size: var(--font-mmd);
  line-height: 1.125em;
}
@media only screen and (max-width: 992px) {
  .font-mmd {
    font-size: var(--font-md);
  }
}

section,
article {
  padding-bottom: 56px;
}
@media only screen and (max-width: 992px) {
  section,
article {
    padding: 30px 0;
  }
}

.font-lg {
  font-size: var(--font-lg);
  line-height: 1.125em;
}
@media only screen and (max-width: 992px) {
  .font-lg {
    font-size: var(--font-mmd);
  }
}
.font-xl {
  font-size: var(--font-xl);
  line-height: 1.125em;
}
@media only screen and (max-width: 992px) {
  .font-xl {
    font-size: var(--lg);
  }
}

.font-xxl {
  font-size: var(--xxl);
  line-height: 1.125em;
}

.bg-black {
  background: var(--bg-black);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .container {
    max-width: 1170px;
    width: 100%;
  }
}

.my-10 {
  padding: 20px 0 0 0;
}

* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: transparent;
  cursor: pointer;
  background: transparent;
}

.active {
  border-bottom: 1px solid var(--red-font);
}

body {
  font-weight: 400;
  font-family: "poppins";
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--red-font);
  transition: 0.5s ease-in;
}

ul {
  list-style: none;
}

.feature-card {
  position: relative;
  overflow: hidden;
}
.feature-card img {
  width: 100%;
  cursor: pointer;
}

.absolute {
  position: absolute;
  display: grid;
  place-items: start;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 24px 24px 24px;
  width: 100%;
}
.absolute .font-tiny {
  display: flex;
  gap: 10px;
}
.absolute .font-tiny i {
  margin-right: 6px;
}

.flex {
  display: flex;
  align-items: center;
}

.align {
  align-items: center;
}

.sp-b {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.w-63 {
  width: 63%;
}
@media only screen and (max-width: 992px) {
  .w-63 {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}

.w-37 {
  width: 37%;
  padding: 0 0 0 50px;
}
@media only screen and (max-width: 992px) {
  .w-37 {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}

.red-font {
  color: var(--red-font);
}

.blue-text {
  color: var(--blue-text);
}

.white-text {
  color: var(--white-font);
}

.grey-font {
  color: var(--grey-font);
}

.red-bg-font {
  font-size: var(--font-tiny);
  padding: 4px 6px;
  color: var(--white-font);
  background: var(--red-font);
}

.poppins {
  font-family: "poppins", sans-serif;
}

.roboto-slab {
  font-family: "roboto slab" sans-serif;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 500;
}

.normal {
  font-weight: 400;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.primary-btn {
  padding: 20px 56px;
  border: 1px solid var(--red-font);
  color: var(--red-font);
  align-self: center;
  place-self: center;
  border-radius: 16px;
}
.primary-btn:hover {
  background-color: var(--red-font);
  color: var(--white-font);
  transition: all 0.3s linear;
}

.swiper-button-disabled {
  color: grey !important;
}

.sticky {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
  position: fixed;
  background: var(--white-font);
  padding: 30px;
  z-index: 10;
  align-items: center;
  box-shadow: 0px 1px 0px 0px black;
  top: -40px;
  width: 100%;
}

.link-gap {
  gap: 24px;
}

.column {
  flex-direction: column;
}

.header-container {
  border-bottom: 1px solid var(--grey-light);
}

@media only screen and (max-width: 768px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-font);
  }
}
.header-logo {
  text-align: center;
}
.header-logo h1 {
  font-family: "yasevena one";
  line-height: 60px;
  letter-spacing: -2%;
}
.header-logo span {
  letter-spacing: 0.52em;
  font-family: "inter";
  margin-top: 8px;
}
@media only screen and (max-width: 992px) {
  .header-logo {
    position: fixed;
    top: 0;
    z-index: 100;
    background: var(--white-font);
    width: 100%;
    padding: 10px;
  }
}
.header-navbar {
  display: flex;
  padding-bottom: 16px;
  background-color: var(--white-font);
  margin: 40px 0 0 0;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .header-navbar {
    padding-top: 40px;
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 999;
    flex-direction: column;
    gap: 20px;
    height: 0;
    overflow-y: hidden;
    transition: height 0.3 s linear;
  }
}
.header-navbar-social {
  padding-bottom: 16px;
  display: flex;
  gap: 16px;
}
.header-navbar-social i {
  color: rgba(1, 13, 0, 0.7);
}
.header-navbar-social i:hover {
  color: var(--red-font);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.header-navbar-social span {
  display: none;
}
@media only screen and (max-width: 992px) {
  .header-navbar-social {
    position: relative;
    top: 15px;
  }
}
.header-navbar-list {
  display: flex;
  gap: 48px;
}
@media only screen and (max-width: 992px) {
  .header-navbar-list {
    flex-direction: column;
    text-align: center;
    gap: 14px;
  }
}
.header-navbar-list a {
  font-weight: 500;
  line-height: 30px;
  color: rgb(1, 13, 0);
  border-bottom: 1px solid transparent;
  padding-bottom: 16px;
}
.header-navbar-list a:hover {
  border-bottom: 1px solid var(--red-font);
}
.header-navbar-list a.active {
  border-bottom: 1px solid var(--red-font);
}
.header-navbar-search {
  padding-bottom: 16px;
  overflow-x: hidden;
}
.header-navbar-search .search {
  opacity: 0;
  transform: translateX(100%);
  transform-origin: left;
  transition: transform 0.3s linear;
}
@media only screen and (max-width: 992px) {
  .header-navbar-search .search {
    display: none;
  }
}
.header-navbar-search .fa {
  cursor: pointer;
}
.header-navbar-search:hover > .search {
  display: inline-block;
  opacity: 1;
  transform-origin: left;
  transform: translateX(0);
  transition: transform 0.3s linear;
}
@media only screen and (max-width: 992px) {
  .header-navbar-search {
    order: 4;
    left: 140px;
    top: 30px;
  }
}
.header-menu {
  z-index: 999;
  position: fixed;
  top: 36px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  right: 15px;
  gap: 4px;
}
@media (min-width: 992px) {
  .header-menu {
    display: none;
    transition: all 0.3s ease;
  }
}
.header-menu span {
  height: 2px;
  width: 26px;
  display: block;
  background: black;
}
.header-menu span:nth-child(2), .header-menu span:nth-child(3) {
  margin-top: 4px;
}

.active.header-navbar {
  height: 60vh;
  transition: all 0.3s linear;
}

.active .header-menu span {
  transition: all 0.3s ease-in;
}
.active .header-menu span:nth-child(1) {
  transform: translatey(4px) rotate(45deg);
}
.active .header-menu span:nth-child(3) {
  transform: translatey(-3px) rotate(-45deg);
}
.active .header-menu span:nth-child(2) {
  display: none;
}

@media only screen and (max-width: 992px) {
  .hero {
    padding: 20px 0 0 0;
  }
}
.hero-content {
  margin: 40px 0 56px;
}
@media only screen and (max-width: 992px) {
  .hero-content {
    padding: 20px 0 0 0;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-content {
    margin: 90px 0 0 0;
  }
}
.hero-content .feature-card {
  width: 100%;
  overflow: hidden;
}
.hero-content .feature-card img {
  width: 100%;
}
.hero-content .feature-card h2,
.hero-content .feature-card h3 {
  margin: 18px 0;
}
@media only screen and (max-width: 768px) {
  .hero-content .feature-card h2,
.hero-content .feature-card h3 {
    margin: 9px 0;
  }
}
.hero-content .feature-card a {
  margin: 18px 0;
  font-family: ".roboto-slab";
}
.hero-content .main-card:nth-child(1) {
  grid-column: span 7;
}
@media only screen and (max-width: 992px) {
  .hero-content .main-card:nth-child(1) {
    grid-column: span 12;
  }
}
.hero-content .main-card:nth-child(2) {
  grid-column: span 5;
  padding-left: 15px;
  display: grid;
  gap: 20px;
}
@media only screen and (max-width: 992px) {
  .hero-content .main-card:nth-child(2) {
    margin-top: 20px;
    grid-column: span 12;
    padding: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 16px;
}
.title .font-lg {
  position: absolute;
  padding: 6px 10px 6px 0;
  background: var(--white-font);
}
.title .line {
  width: 100%;
  height: 1px;
  background: var(--grey-font);
}
.title .tab-link {
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .container-hot-topic {
    place-items: none;
  }
}
.container-hot-topic .hot-topic-content-swiper {
  display: none;
}
.container-hot-topic .hot-topic-content-swiper.show {
  display: block;
}
.container-hot-topic .hot-topic {
  grid-column: 1/span 7;
  align-items: start;
}
@media only screen and (max-width: 992px) {
  .container-hot-topic .hot-topic {
    grid-column: span 12;
  }
}
.container-hot-topic .hot-topic .swiper-slide {
  margin-top: 30px;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .container-hot-topic .hot-topic .swiper-slide {
    display: block;
  }
}
.container-hot-topic .hot-topic-feature {
  width: 58%;
}
@media only screen and (max-width: 768px) {
  .container-hot-topic .hot-topic-feature {
    width: 100%;
  }
}
.container-hot-topic .hot-topic-feature-text {
  width: 100%;
}
.container-hot-topic .hot-topic-feature img {
  width: 100%;
}
.container-hot-topic .hot-topic-feature .absolute {
  gap: 14px;
}
.container-hot-topic .hot-topic-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 16px;
}
.container-hot-topic .hot-topic-title .font-lg {
  position: absolute;
  padding: 6px 10px 6px 0;
  background: var(--white-font);
}
.container-hot-topic .hot-topic-title .line {
  width: 80%;
  height: 1px;
  background: var(--grey-font);
}
.container-hot-topic .hot-topic-title .tab-link {
  gap: 16px;
}
.container-hot-topic .hot-topic-title .tab-link .active {
  color: var(--red-font);
  border: none;
}
.container-hot-topic .hot-topic-card {
  width: 42%;
  padding-left: 16px;
  flex-direction: column;
  padding-top: -30px;
  align-items: flex-start;
}
.container-hot-topic .hot-topic-card .card-links:not(:nth-child(1)) {
  padding-top: 10px;
}
.container-hot-topic .hot-topic-card .card-links img {
  margin-right: 24px;
}
@media only screen and (max-width: 768px) {
  .container-hot-topic .hot-topic-card {
    width: 100%;
    padding: 20px 0 0 0;
  }
}
.container-hot-topic .hot-topic-fashion {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  align-self: flex-start;
  padding-top: 20px;
  grid-column: span 5;
  padding-left: 45px;
}
@media only screen and (max-width: 992px) {
  .container-hot-topic .hot-topic-fashion {
    grid-column: span 12;
    padding: 20px 0 0 0;
    margin-top: 20px;
  }
}
.container-hot-topic .hot-topic-fashion .absolute {
  gap: 16px;
}
.container-hot-topic .hot-topic-fashion-container {
  margin-top: 40px;
}
.container-hot-topic .hot-topic-fashion .card-links {
  margin-top: 20px;
}
.container-hot-topic .hot-topic-fashion .card-links .flex {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

img {
  border-radius: 4px;
}

.fa-calendar-o, .fa-user {
  margin-right: 8px;
}

.blog-container {
  margin: 56px 0 56px 0;
  display: flex;
  gap: 40px;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .blog-container {
    margin: 30px 0;
    flex-wrap: wrap;
  }
}
.blog-container .blog {
  grid-column: span 4;
  display: grid;
}
.blog-container .blog .links-container {
  margin-top: 30px;
  display: grid;
  gap: 35px;
}
.blog-container .blog .links-container .fa {
  margin-right: 8px;
}
.blog-container .blog .links-container img {
  margin-right: 24px;
}

.fa-angle-left, .fa-angle-right {
  padding: 6px 10px;
  border: 1px solid var(--grey-font);
  display: inline-block;
  color: rgb(18, 18, 18);
}

.slide-button {
  display: flex;
  position: relative;
  gap: 8px;
}

.g-sec {
  padding: 0;
}

.gallery {
  margin-top: 24px;
}
.gallery-images {
  display: flex;
  grid-template-columns: repeat(12, 1fr);
}
.gallery-images-slide {
  grid-column: span 3;
}
.gallery-images-slide .gallery-card .absolute {
  padding: 0 0 24px 16px;
  display: grid;
  gap: 14px;
}
.gallery-images-slide .gallery-card .absolute .flex {
  gap: 18px;
}

.advertisement {
  gap: 100px;
  padding: 32px 0 32px 61px;
  background: url(../image/add-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .advertisement {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .advertisement .btn {
    align-self: start;
  }
}
.advertisement .btn {
  padding: 12px 24px;
  background: var(--red-font);
  color: var(--white-font);
  border-radius: 16px;
}
.advertisement .btn:hover {
  background: rgb(227, 87, 87);
  transition: all 0.3s linear;
}

.overview .fa {
  margin-right: 8px;
}
.overview .links-container {
  margin: 30px 0;
  display: grid;
  gap: 35px;
}
.overview .links-container .loader {
  width: 100%;
  text-align: center;
  display: none;
}
.overview .links-container .loader img {
  width: 20%;
  background: transparent;
}
.overview .links-container-show {
  gap: 30px;
  display: none;
}
.overview .link-gap {
  gap: 24px;
  align-items: center;
}
.overview .ov-link {
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 768px) {
  .overview .ov-link {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .overview .ov-link img {
    width: 100%;
    aspect-ratio: 2/1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}
.overview .ov-link__text {
  display: grid;
  gap: 10px;
}
.overview .ov-links {
  grid-column: span 7;
}
@media only screen and (max-width: 992px) {
  .overview .ov-links {
    grid-column: span 12;
  }
}
.overview .tech {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 40px;
  left: 0;
  grid-column: span 4;
  padding-left: 60px;
}
@media only screen and (max-width: 992px) {
  .overview .tech {
    grid-column: span 12;
    padding: 0;
  }
}
.overview .tech-container {
  margin: 30px 0;
  display: grid;
  gap: 20px;
}
.overview .tech .popular-catagory .list {
  margin: 47px 0 64px 0;
  display: grid;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .overview .tech .popular-catagory .list {
    margin: 30px 0;
  }
}
.overview .tech img {
  height: 100%;
}
.overview .tech .absolute {
  gap: 14px;
}

footer {
  background: var(--blak-bg);
}
footer .footer {
  border-bottom: 1px solid var(--white-font);
  flex-direction: column;
  padding: 72px 0 48px 0;
  gap: 48px;
}
@media only screen and (max-width: 992px) {
  footer .footer {
    padding: 30px 0;
  }
}
footer .footer-logo {
  text-align: center;
  font-family: "yasevena one";
  display: grid;
  gap: 8px;
}
footer .footer-logo span {
  letter-spacing: 0.52em;
}
footer .footer-nav {
  gap: 48px;
}
@media (max-width: 500px) {
  footer .footer-nav {
    flex-direction: column;
  }
}
footer .footer-social {
  gap: 35px;
}
footer .copyright {
  padding: 24px 0;
}
@media (max-width: 500px) {
  footer .copyright {
    flex-direction: column;
    gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */